

/*
==========================================
typography
==========================================
*/



h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

h2 {
    
}