

/*
==========================================
typography
==========================================
*/



h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}